ansible
asyncio
black
click
Jinja2
netbox-initializers
netmiko
nornir
nornir_ansible
nornir_napalm
nornir_utils
ntc-templates
pylint
python-decouple
pytz
pyyaml 
regex
requests
rich
xmltodict
yamlordereddictloader